body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1700px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:842px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:514px;
}
#u2 {
  position:absolute;
  left:0px;
  top:1700px;
  width:1440px;
  height:514px;
}
#u3 {
  position:absolute;
  left:2px;
  top:249px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:60px;
  background:inherit;
  background-color:rgba(66, 120, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:240px;
  top:475px;
  width:206px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:559px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:1380px;
  top:748px;
  width:60px;
  height:559px;
}
#u7 {
  position:absolute;
  left:2px;
  top:272px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:216px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:1389px;
  top:1782px;
  width:51px;
  height:216px;
}
#u9 {
  position:absolute;
  left:2px;
  top:100px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:1370px;
  top:1528px;
  width:50px;
  height:49px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:109px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:1385px;
  top:1307px;
  width:55px;
  height:109px;
}
#u13 {
  position:absolute;
  left:2px;
  top:46px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:53px;
  top:483px;
  width:177px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
